fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.12

langchain-core==0.3.27
langchain-community==0.3.3
langchain-ollama==0.2.0
langchain-text-splitters==0.3.2
langchain-chroma==0.1.4

chromadb==0.5.11
pypdf==5.0.0
docx2txt==0.8
